.add-task{
    background-color:rgb(141, 224, 85);
    justify-content: center;
    font-size: small;
    text-align: center;
    padding: 1%;
}

.list-of-tasks{
    background-color: antiquewhite;
    text-align: center;
}