<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>do list - A daily list to remember what I need to do</title>
    <link href="../styles/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
</head>
<body>
    <div class="add-task">
        <h2>Write your daily task for today</h2>
        <input title="task" type="text" placeholder="Your task">
        <button aria-label="Save task"> Save task</button>
    </div>
    <div class="list-of-tasks">
        <ul>
            <li> Check your email list </li>
            <li> Respond to any new email </li>
            <li> Complete any other task </li>
            <li> Prepare a cup of coffee</li>
            <li> Any other possible tasks</li>
        </ul>
    </div>
</body>
</html>
